header{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: auto;
    margin-bottom: 0;
}
#logo{
    padding: 3px;
    padding: 10px;
    align-self: start;
    width: 50px;
    border-radius: 50%;
}
#linkovi {
    width: 35%;
}
.link {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
#naslov {
    background-color: #1F2937;
  
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: 100px;

}